{% if is_granted('IS_AUTHENTICATED_FULLY') %}

	{% if app.user.follows is defined and not app.user.follows.contains(userToFollow) %}
		<a href="{{ path('app_follow', { id: userToFollow.id }) }}" class="rounded-md border p-2 border-gray-300 text-grray-600 hover:bg-gray-300
																    dark:text-gray-300 dark:hover:bg-green-500 dark:border-green-600">
			Follow
		</a>
	{% else %}
		<a href="{{ path('app_unfollow', { id: userToFollow.id }) }}" class="rounded-md border p-2 border-gray-300 text-grray-600 hover:bg-gray-300
																    dark:text-gray-300 dark:hover:bg-blue-500 dark:border-blue-600">
			Unfollow
		</a>

	{% endif %}
{% endif %}
