{% extends 'base.html.twig' %}

{% block body %}

<div>
  {% if messages|length > 0 %}
  {% for message in messages|slice(0, limit) %}
    <div><i>{{ message.message }}</i></div>
    <div style="color: grey">
      {{ include('hello/_message.html.twig', {message: message}) }}  
    </div>
    

  {% endfor %}
  
  {% else %}
    <p>No elements yet</p>
  {% endif %}
  
</div>

{% endblock %}
