{% extends 'base.html.twig' %}

{% block body %}

<div>
  {% if messages|length > 0 %}
  {% for message in messages %}
    <div><i>{{ message }}</i></div>
  {% endfor %}
  
  {% else %}
    <p>No elements yet</p>
  {% endif %}
  
</div>

{% endblock %}
