

{% extends 'base.html.twig' %}

{% block body %}
<div> The Current message is : <i>{{ message.message }}</i></div>
      <b>{{ include('hello/_message.html.twig', {message: message}) }} </b>
{% endblock %}
    
{% block title %}
  NEW Title
{% endblock %}

